body {
    background-color: #292929;
    color: white;
    margin: 0 auto;
    max-width: 70em;
    font-family: "Helvetica", "Arial", sans-serif;

}

.highlight {
    background-color:  #E9AB17;
}

.list-unstyled {
    list-style-type: none;
}

.list-break-to-columns {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
}

.list-break-to-columns ul li a {
    color:#8db2e5;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 2%; 
}

.tag-title {
    display: inline;
    margin-right: 10px;
    margin-left: 10px;
}

.search-bar {
    display: flex;
    justify-content: center;
    padding: 10px 2%; 
}

.nav-links li { 
    display: inline-block;
    padding: 10px 20px 10px;
}

a:hover {
    color: #d9534f !important;
}

a {
    color: white;
    text-decoration: none;
}

.logo {
    color: #d9534f;
}

input[type=text] {
    font-size: 15px;
    border-radius: 15px;
    line-height: 1.0;
    padding: 5px 10px;
    color: white;
    background: #292929;
    display: block;
    height: 20px;
}

th, td {
  border: thin dotted #999;
  padding: 0.3em 0.4em;
}

table {
  width: 100%;
}

.title {
    text-align: center;
}

@media only screen and (min-width: 400px) {
    .list-break-to-columns  {
	-webkit-column-count: 2;
	-moz-column-count: 2;
	column-count: 2;
    }
}

@media only screen and (min-width: 700px) {
    .list-break-to-columns  {
	-webkit-column-count: 3;
	-moz-column-count: 3;
	column-count: 3;
    }
}
